# === APP CONFIGURATION ===
APP_NAME='Arch Flow API'
VERSION=0.1.0
ENVIRONMENT=development# options: development, staging, production

# === DATABASE CONFIGURATION ===
USE_POSTGRES=false# true or false

POSTGRES_URL=postgresql+psycopg2://user:password@localhost:5432/your_db
SQLITE_URL=sqlite+pysqlite:///./data/db/your_local_db.db
